
name: marl-routing
channels:
  - pytorch
  - pyg
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pytorch
  - torchvision
  - torchaudio
  - pyg
  - networkx
  - numpy
  - matplotlib
  - ipykernel
